.fab {
  color: black;
}

.img-with-text {
    text-align: center;
    max-width: 120px;
    max-height: 50px;
    margin: 1%;
}

.img-with-text img {
    display: block;
    margin: auto;
    padding: 1%
}